body {
  padding: 4em;
  background-color: rgb(241, 241, 241);
}

/* classe de erro para os campos */
.pure-form input.error,
.pure-form input.error:focus {
  border-color: #e60000;
  background: #ffe6e6;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 70px;
}

input {
  padding: 25px;
}


.pure-form-stacked input[type=text], .pure-form-stacked label {
  margin: 0 auto 10px auto;
  text-align: center;
  padding: 10px;
}